/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.responsive-container {
  width: 80%;
  max-width: 558px;
}
.heading-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 173px;
  border-radius: 17px;
  margin-top: 64px;
}
.heading {
  color: #475569;
  font-family: 'Roboto';
}
.money-manager-text {
  color: #0b69ff;
  font-family: 'Roboto';
}
.transaction-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
.transaction-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 424px;
  width: 100%;
  border: 1px solid #cbd5e1;
  margin-top: 24px;
  margin-bottom: 32px;
  border-radius: 14px;
}
.transaction-header {
  font-family: 'Roboto';
  color: #7e858e;
  margin-left: 23px;
  line-height: 1.6;
}
.input-label {
  margin-left: 12px;
  font-family: 'Roboto';
  color: #cbd5e1;
  line-height: 1.4;
}
.input {
  margin-left: 13px;
  color: #1e293b;
  font-family: 'Roboto';
  width: 60%;
  min-width: 157px;
  height: 40px;
  outline: none;
  padding: 10px;
  border-radius: 2px;
  border: 3px solid #d7dfe9;
}
.button {
  background-color: #0b69ff;
  margin-left: 13px;
  border: none;
  width: 75px;
  height: 36px;
  border-radius: 7px;
  color: #ffffff;
  font-family: 'Roboto';
}
.history-transactions {
  width: 100%;
  min-height: 326px;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 41px;
}
.transaction-header {
  padding-left: 0;
  margin: 0px;
}
.transaction-table-container {
  height: 100%;
  border-radius: 8px;
}
.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
}
.table-header-cell {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  width: 30%;
  border-right: none;
}
